<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true">
		<intercept-url pattern="/adminHome" access="hasRole('ROLE_USER')" />
		<form-login/>
	</http>

	<authentication-manager>
		<authentication-provider>
         <password-encoder hash="bcrypt"></password-encoder>
			<user-service>
				<user name="admin" password="$2a$10$8k8jq6DIfqrDkkjRqNg3j.UiXbdmw38mmpd8f23GxgicENW7Ra..e" authorities="ROLE_USER" />
				<user name="tilak" password="$2a$10$t5GiTVSLrW4WA5Ft3rLZ6edZSMO6tO2pWfX65Kb8bgJ2NX3.aVfWq" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
</beans:beans>